<div class="modal-header">
    <h4 class="modal-title">Upload Extract Data</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> -->
    <!-- </button> -->
</div>
<div class="modal-body">
    <div class="card lesson-border">
        <!-- <input type="file" title="ExcelUpload" name="ExcelUpload" id="ExcelUpload"> -->
        <input type="file" (change)="onSelectedFile($event)">

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="uploadFile('ExcelUpload')">Upload</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>