<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">
        <img
        src="assets/images/Quadrant Resource logo.png"
        alt="Quadrant Logo"
          width="220px"
          height="50px"
          class="d-inline-block align-text-top"
        />
      </a> -->
      <a class="navbar-brand" href="#">Forcast scenario modeling</a>
       <!-- <button type="button" class="btn btn-primary" (click)="open()">Upload Extract</button>  -->
    </div>
  </nav>
  <section>
    <app-excel></app-excel>
  </section>
    <!-- Your existing content here -->
  
    <div class="spinner-overlay" *ngIf="getSpinnerState()">
      <mat-spinner></mat-spinner>
    </div>
  